.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-header,
.App-main,
.App-footer {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  text-align: center;
}

.App-header h1,
.App-header p {
  margin: 0;
}

.App-main {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App-footer p {
  font-size: 20px;
  font-style: italic;
}

.App-logo {
  width: 50px;
  vertical-align: middle;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 10px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

form input,
form select {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

button#calculateButton {
  background-color: #08A364;
  color: white;
}

button#clearButton {
  background-color: #A37A08;
  color: white;
}

button#calculateButton:hover,
button#clearButton:hover {
  opacity: 0.9;
}

button#calculateButton:focus,
button#clearButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #0BAADF;
}

h2 {
  margin-top: 20px;
}

ul#history {
  list-style-type: none;
  padding: 0;
}

ul#history li {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
}

hr {
  margin: 20px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
